.navbar-options {
		margin-left: auto;
	}
.navbar {
	min-height: 0px;
}
.nav-link{
	padding-left : 13px;
	padding-right: 13px;
}
.sign-in {
	background-color : #2E2999;
	color            : #E8E8E9;
	margin-top       : -8px;
	height           : 56px;
	margin-bottom    : -8px;
	margin-right     : -17px;
	font-size        : 1.2em;
	padding          : 13px;
	background-repeat: no-repeat;

}
.ml9 {
	position   : relative;
	font-weight: 200;
	font-size  : 4em;
	height: 250px;
}

.ml9 .text-wrapper {
	position      : relative;
	display       : inline-block;
	padding-top   : 0.2em;
	padding-right : 0.05em;
	padding-bottom: 0.1em;
	overflow      : hidden;
}

.ml9 .letter {
	transform-origin: 50% 100%;
	display         : inline-block;
	line-height     : 1em;
}

#topContainer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
	background-size : 100%;
	color           : #F8F9FA;
	font-size		:  2.6em; 
}

#letters {
	vertical-align: baseline;
}

.logo {
	font-family: 'Sacramento', cursive;
	font-weight: bolder;
	padding: 0;
	font-size: 1.4em;
}
#topEmail {
	margin-left:25%;
	margin-right: 25%;
	opacity: 0;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 130px;
}

.sidenav a {
    padding: 10px 16px 6px 42px;
    text-decoration:dashed;
    font-size: 20px;
    color: #ffffff;
    display:flex;
}

.sidenav a:hover {
    color: #a8c6fb;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
