
body {font-family: Arial, Helvetica, sans-serif;}

a:{
    color:red;
}
/* Full-width input fields */
/*input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}*/
#eye{
    background-color: #c8ccd1;
    padding: 0px;
    width: 20px;
    
}
.logbutton {
    background-color: #303c98;
    color: white;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 6px;
    padding: 4px;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
/* .cancelbtn {
    width: 40%;
    padding: 5px;
    background-color: #f44336;
    border-radius: 10px;
} */

/* Center the image and position the close button */
/*.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    background-color:#404042;
}*/

/*img.avatar {
    width: 40%;
    border-radius: 20% 40% 10% 0%;
}*/

/*.container {
    padding: 16px;
    background-color:#c8ccd0;
    display: inline-block;
}*/

/*span.psw {
    float: right;
    padding-top: 16px;
}*/

/* The Modal (background) */
#rememberme{
    margin-left: 10px;
}

.modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgb(0,0,0,0.85); /* Black w/ opacity */
     padding-top: 60px;
    
 }

/* Modal Content/Box */
.loginlogo{
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
    padding: 0;
    font-size: 2em;
    margin-bottom: 10px;
    color: #C8C5CC;
}
.modal-content {
    
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 74%;
    background-color: #001377;
   
    padding:10px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 20;
    color: #bd7474;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}