  body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
 * {box-sizing: border-box}
  input[type=text], input[type=number], input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius:10px;
}
.logo {
	font-family: 'Sacramento', cursive;
	font-weight: bolder;
	padding: 0;
	font-size: 5em;
	color:#f764dd
}
a:link{
    text-decoration: none;
}
input[type=text]:focus, input[type=text]:focus, input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:25px;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f32a1b;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}


.modal-content {
  background-color: #d2d2d2ed;
  margin: 2% 7% 15% auto; 
  border: 1px solid #888;
  width: 27%;
  border-radius: 24px 90px 45px 45px; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

body {
    font-family: "arial", sans-serif;
}

.sidenav {
    height: 95%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #1e415a;
    overflow-x: hidden;
    padding-top: 130px;
    border-radius: 110px 260px 560px 0px;
}

.sidenav a {
    padding: 10px 16px 6px 42px;
    text-decoration:dashed;
    font-size: 20px;
    color: #ffffff;
    display:flex;
}

.sidenav a:hover {
    color: #ff7c7c;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
