body {

    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../images/signup.jpg");
    background-size: 100% ;
}
.create-acc{
  text-align: left;
  font-size: larger;
  color: #262833;
  font-family: 'Montserrat',sans-serif;
}
/*
@keyframes bodyAnime{
    20%{
        
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
}
*/

/* {box-sizing: border-box}
  input[type=text], input[type=number], input[type=email], input[type=password] {
  padding: 15px;
  margin: 5px 0px 10px 0px;
  display: inline-block;
  
}*/
.logo {
	font-family: 'Sacramento', cursive;
	font-weight: bolder;
	padding: 0;
	font-size: 2em;

}
a:link{
    text-decoration: none;
}
/*input[type=text]:focus, input[type=text]:focus, input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}*/

/*button{
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}*/



.cancelbtn {
  padding: 14px 20px;
  background-color: #f32a1b;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  
  padding: 16px;
  animation-name: fadein;
  animation-duration: 1s;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
@keyframes fadein {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
  }

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
}


.modal-content {
  background-color: ;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #d3d1d1;
  width: 70%;
  padding: 12px;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

body {
    font-family: "arial", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 130px;
}

.sidenav a {
    padding: 10px 16px 6px 42px;
    text-decoration:dashed;
    font-size: 20px;
    color: #ffffff;
    display:flex;
}

.sidenav a:hover {
    color: #a8c6fb;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#bottom-nav a{
  font-size: small;

}
#bottom-nav li{
  list-style: none; 
  display: inline;
  margin: 0 8px;
  
  
}
#bottom-nav {
background-color: rgb(39, 40, 43);
}